@charset "utf-8";
8

/************
1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_slider
	{
		min-height: 475px;
		height: calc(100vw / 1.714);
	}
	.main_slider_content
	{
		width: 80%;
	}
	.banner_item
	{
		height: 220px;
	}
	.product-item
	{
		height: 360px;
	}
	.product
	{
		height: 320px;
	}
}


/************ 
991px
************/

@media only screen and (max-width: 991px)
{
	h1{font-size: 48px;}
	h2{font-size: 36px;}
	.main_slider_content h6
	{
		margin-bottom: 23px;
	}
	.shop_now_button
	{
		margin-top: 26px;
	}
	.grid-item
	{
		width: 25%;
	}
	.top_nav
	{
		display: none;
	}
	.navbar_menu
	{
		display: none;
	}
	.hamburger_container
	{
		display: block;
	}
	.main_slider
	{
		margin-top: 100px;
	}
	.main_slider_content
	{
		width: 100%;
		padding-right: 15px;
	}
	.banner_item
	{
		height: 160px;
	}
	.banner_category
	{
		min-width: 160px;
		height: 40px;
	}
	.banner_category a
	{
		font-size: 16px;
		line-height: 40px;
	}
	.product-item
	{
		width: 25%;
	}
	
}
@media (min-width: 992px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding: 8px 13px;
	}
	.navbar-expand-md .navbar-nav .nav-item {
		margin-right: 22px;
	}
	.hero .slide-content {
		min-height: 127vh;
	}
	.hero .slide-content h1 {
		font-size: 4.5rem;
	}
	.hero .slide-content br {
		display: block;
	}
	.hero .arr-left,
	.hero .arr-right {
		top: 50%;
	}
	.title h1 {
		font-size: 48px;
	}
}


/************
767px
************/

@media only screen and (max-width: 767px)
{
	h1{font-size: 36px;}
	h2{font-size: 24px;}
	h6{font-size: 12px;}
	.main_slider_content h6
	{
		margin-bottom: 20px;
	}
	.shop_now_button
	{
		margin-top: 23px;
	}
	.red_button a
	{
		font-size: 12px;
	}
	.banner_item
	{
		margin-bottom: 30px;
		height: 210px;
	}
	.new_arrivals_title
	{
		margin-top: 44px;
	}
	.product-item
	{
		width: 33.333333333333%;
		height: 345px;
	}
	.product
	{
		height: 305px;
	}
	.grid_sorting_button
	{
		font-size: 13px;
		padding-left: 20px;
		padding-right: 20px;
		min-width: 80px;
	}
	.product_slider_container
	{
		height: auto;
	}
	.product_slider_item .product-item
	{
		height: 380px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.hamburger_menu
	{
		right: -100%;
		width: 100%;
	}
	.product-item
	{
		width: 50%;
		height: 420px;
	}
	.product
	{
		height: 380px;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.logo_container a
	{
		font-size: 12px;
	}
	.hamburger_container
	{
		margin-left: 25px;
	}
	.hamburger_container i
	{
		font-size: 16px;
	}
	.hamburger_close
	{
		top: 14px;
		right: 4px;
	}
	.hamburger_close i
	{
		font-size: 20px;
	}
	.hamburger_menu_content
	{
		padding-right: 15px;
		padding-top: 70px;
	}
	.menu_item
	{
		border-bottom-color: rgba(181, 174, 196, 0.5);
	}
	.menu_item > a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.menu_selection li a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.checkout_items
	{
		width: 15px;
		height: 15px;
		font-size: 10px;		
	}
	.main_slider
	{
		height: calc(100vh - 70px);
		min-height: auto;
		margin-top: 70px;
	}
	.main_slider_content h6
	{
		margin-bottom: 15px;
	}
	.main_slider_content h1
	{
		font-size: 24px;
	}
	.shop_now_button
	{
		margin-top: 15px;
		width: 100px;
		height: 35px;
	}
	.red_button a
	{
		font-size: 10px;
	}
	.banner_item
	{
		height: calc((100vw - 30px) / 2.6);
	}
	.grid_sorting_button
	{
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
		min-width: 60px;
		height: 35px;
	}
	.product-item
	{
		width: 100%;
		height: auto;
	}
	.product
	{
		height: auto;
	}
	.product_name a
	{
		font-size: 12px;
	}
	.add_to_cart_button
	{
		margin-top: 20px;
	}
	.deal_ofthe_week_img
	{
		height: 400px;
	}
	.timer
	{
		margin-top: 42px;
	}
	.timer li
	{
		width: 50px;
		height: 50px;
	}
	.section_title::after
	{
		top: calc(100% + 8px);
		height: 3px;
	}
	.timer_num
	{
		margin-top: 4px;
		font-size: 16px;
	}
	.timer_unit
	{
		margin-top: -9px;
		font-size: 10px;
	}
	.deal_ofthe_week_button
	{
		margin-top: 36px;
	}

	.product_slider_item .product-item
	{
		width: 100%;
		height: auto;
	}
	.product_slider_item .product-item:hover::after
	{
		box-shadow: none;
	}
	.product_slider_item .product-item .product
	{
		height: auto;
	}
	.product_slider_item .product-item .product_info
	{
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 991px) {
	#home .home-wrap {
	  margin-left: 0px;
	}
	#aside {
	  margin-bottom: 60px;
	}
	.product-reviews {
	  margin-bottom: 30px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner h1 {
	  font-size: 36px;
	}
	.store-filter .pull-right, .store-filter .pull-left {
	  float: none !important;
	}
	.store-filter .pull-right {
	  margin-top: 15px;
	}
  }
  
  @media only screen and (max-width: 480px) {
	[class*='col-xs'] {
	  width: 100%;
	}
  }
  @media (max-width: 1199px) {
    .m-0-xl {margin: 0;}
    .m-lr-0-xl {margin-left: 0; margin-right: 0;}
    .m-lr-15-xl {margin-left: 15px; margin-right: 15px;}
    .m-l-0-xl {margin-left: 0;}
    .m-r-0-xl {margin-right: 0;}
    .m-l-15-xl {margin-left: 15px;}
    .m-r-15-xl {margin-right: 15px;}
  
    .p-0-xl {padding: 0;}
    .p-lr-0-xl {padding-left: 0; padding-right: 0;}
    .p-lr-15-xl {padding-left: 15px; padding-right: 15px;}
    .p-l-0-xl {padding-left: 0;}
    .p-r-0-xl {padding-right: 0;}
    .p-l-15-xl {padding-left: 15px;}
    .p-r-15-xl {padding-right: 15px;}
  
    .w-full-xl {width: 100%;}
  
    /*---------------------------------------------*/
  
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ LG ]*/
  @media (max-width: 991px) {
    .m-0-lg {margin: 0;}
    .m-lr-0-lg {margin-left: 0; margin-right: 0;}
    .m-lr-15-lg {margin-left: 15px; margin-right: 15px;}
    .m-l-0-lg {margin-left: 0;}
    .m-r-0-lg {margin-right: 0;}
    .m-l-15-lg {margin-left: 15px;}
    .m-r-15-lg {margin-right: 15px;}
  
    .p-0-lg {padding: 0;}
    .p-lr-0-lg {padding-left: 0; padding-right: 0;}
    .p-lr-15-lg {padding-left: 15px; padding-right: 15px;}
    .p-l-0-lg {padding-left: 0;}
    .p-r-0-lg{padding-right: 0;}
    .p-l-15-lg {padding-left: 15px;}
    .p-r-15-lg {padding-right: 15px;}
  
    .w-full-lg {width: 100%;}
  
    /*---------------------------------------------*/
    .respon4 {
      width: 50%;
    }
  
    /*---------------------------------------------*/
    .respon5 {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ MD ]*/
  @media (max-width: 767px) {
    .m-0-md {margin: 0;}
    .m-lr-0-md {margin-left: 0; margin-right: 0;}
    .m-lr-15-md {margin-left: 15px; margin-right: 15px;}
    .m-l-0-md {margin-left: 0;}
    .m-r-0-md {margin-right: 0;}
    .m-l-15-md {margin-left: 15px;}
    .m-r-15-md {margin-right: 15px;}
  
    .p-0-md {padding: 0;}
    .p-lr-0-md {padding-left: 0; padding-right: 0;}
    .p-lr-15-md {padding-left: 15px; padding-right: 15px;}
    .p-l-0-md {padding-left: 0;}
    .p-r-0-md{padding-right: 0;}
    .p-l-15-md {padding-left: 15px;}
    .p-r-15-md {padding-right: 15px;}
  
    .w-full-md {width: 100%;}
  
    /*---------------------------------------------*/
    .respon4 {
      width: 100%;
    }
  
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ SM ]*/
  @media (max-width: 575px) {
    .m-0-sm {margin: 0;}
    .m-lr-0-sm {margin-left: 0; margin-right: 0;}
    .m-lr-15-sm {margin-left: 15px; margin-right: 15px;}
    .m-l-0-sm {margin-left: 0;}
    .m-r-0-sm {margin-right: 0;}
    .m-l-15-sm {margin-left: 15px;}
    .m-r-15-sm {margin-right: 15px;}
  
    .p-0-sm {padding: 0;}
    .p-lr-0-sm {padding-left: 0; padding-right: 0;}
    .p-lr-15-sm {padding-left: 15px; padding-right: 15px;}
    .p-l-0-sm {padding-left: 0;}
    .p-r-0-sm{padding-right: 0;}
    .p-l-15-sm {padding-left: 15px;}
    .p-r-15-sm {padding-right: 15px;}
  
    .w-full-sm {width: 100%;}
  
    /*---------------------------------------------*/
    .respon1 {
      font-size: 40px;
    }
    
    /*---------------------------------------------*/
    .respon2 {
      font-size: 20px;
    }
  
    /*---------------------------------------------*/
    .respon6 {
      width: 65px;
    }
  
    .respon6-next {
      width: calc(100% - 65px);
    }
  
    /*---------------------------------------------*/
    .respon7 {
      padding-left: 60px;
    }
  
    
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ SSM ]*/
  @media (max-width: 480px) {
    .m-0-ssm {margin: 0;}
    .m-lr-0-ssm {margin-left: 0; margin-right: 0;}
    .m-lr-15-ssm {margin-left: 15px; margin-right: 15px;}
    .m-l-0-ssm {margin-left: 0;}
    .m-r-0-ssm {margin-right: 0;}
    .m-l-15-ssm {margin-left: 15px;}
    .m-r-15-ssm {margin-right: 15px;}
  
    .p-0-ssm {padding: 0;}
    .p-lr-0-ssm {padding-left: 0; padding-right: 0;}
    .p-lr-15-ssm {padding-left: 15px; padding-right: 15px;}
    .p-l-0-ssm {padding-left: 0;}
    .p-r-0-ssm{padding-right: 0;}
    .p-l-15-ssm {padding-left: 15px;}
    .p-r-15-ssm {padding-right: 15px;}
  
    .w-full-ssm {width: 100%;}
  
    /*---------------------------------------------*/
    .respon3 {
      padding: 20px;
    }
  
  }